# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [4]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
dollarize = lambda x:float(x[1:-1])

In [9]:
chipo['price'] = chipo['item_price']

In [10]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,Izze,[Clementine],$3.39,$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98

In [13]:
chipo['price'] = chipo['price'].apply(dollarize)

In [14]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [16]:
print(len(chipo[chipo['price'] > 10]))

1130

In [18]:
chipo_dropdup = chipo.drop_duplicates(['item_name'], keep='first')

In [19]:
print(len(chipo_dropdup[chipo_dropdup['price'] > 10]))

13

In [24]:
print(chipo_dropdup.shape[0])

50

In [22]:
print(chipo.item_name.value_counts().count())

50

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [30]:
item = {
    'item_name': chipo_dropdup.item_name,
    'item_price': chipo_dropdup.item_price
}
item = pd.DataFrame(item)

In [31]:
print(item.head())

                               item_name item_price
0           Chips and Fresh Tomato Salsa     $2.39
1                                   Izze     $3.39
2                       Nantucket Nectar     $3.39
3  Chips and Tomatillo-Green Chili Salsa     $2.39
4                           Chicken Bowl    $16.98

### Step 6. Sort by the name of the item

In [35]:
item = item.sort_values(by='item_name')

In [36]:
print(item.head(10))

                  item_name item_price
298       6 Pack Soft Drink     $6.49
39            Barbacoa Bowl    $11.75
21         Barbacoa Burrito     $8.99
168   Barbacoa Crispy Tacos    $11.75
1229    Barbacoa Salad Bowl    $11.89
56      Barbacoa Soft Tacos     $9.25
34            Bottled Water     $1.09
445                    Bowl    $22.20
510                 Burrito     $7.40
18              Canned Soda     $2.18

### Step 7. What was the quantity of the most expensive item ordered?

In [39]:
chipo.sort_values(by='price', ascending=False)

,order_id,quantity,item_name,choice_description,item_price,price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],$1.09,1.09
2922,1162,1,Bottled Water,NaN,$1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],$1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],$1.09,1.09
1457,591,1,Canned Soda,[Sprite],$1.09,1.09

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [48]:
chipo_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']
len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [50]:
chipo_soda = chipo[chipo.item_name == "Canned Soda"]

In [51]:
chipo_soda = chipo_soda[chipo.quantity > 1]

C:\Users\lst_b\AppData\Local\Temp/ipykernel_7188/2588820648.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo_soda = chipo_soda[chipo.quantity > 1]

In [52]:
chipo_soda.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 18 to 3866
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            20 non-null     int64
 1   quantity            20 non-null     int64
 2   item_name           20 non-null     object
 3   choice_description  20 non-null     object
 4   item_price          20 non-null     object
 5   price               20 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.1+ KB

In [53]:
len(chipo_soda)

20